In [ ]:
#1. Write a program to reverse a string.

In [1]:
str = "Sanjay"

print(str[::-1])

yajnaS

In [ ]:
#2. Check if a string is a palindrome.

In [3]:
def isPalindrome(s):
    return s== s[::-1]

s = "malayalam"

ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#3. Convert a string to uppercase.

In [4]:
message = 'sanjay'

message.upper()

'SANJAY'

In [ ]:
#4. Convert a string to lowercase.

In [5]:
message = 'SANJAY'

message.lower()

'sanjay'

In [ ]:
#5. Count the number of vowels in a string.

In [6]:
string= input('Enter string:')
vowels=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels= vowels+1
        
print('Number of vowels are:')
print(vowels)

Enter string: sanjay

Number of vowels are:
2

In [ ]:
#6. Count the number of consonants in a string.

In [10]:
def countConsonants(string):
    num_consonants = 0
    # to count the consonants   
    for char in string:      
        if char not in "aeiouAEIOU ":   
            num_consonants += 1   
    return num_consonants # take input
string = input('Enter any string: ')
print('No of consonants:',countConsonants(string))

Enter any string:  sanjay

No of consonants: 4

In [11]:
#7. Remove all whitespaces from a string.

In [13]:
name = '  Hello World   '

name.strip()

'Hello World'

In [14]:
#8. Find the length of a string without using the `len()` function.

In [19]:
str = "Hello"

count = 0
for i in str:
    count+=1
    
print(count)

5

In [22]:
#9. Check if a string contains a specific word.

sentence = " are you mad"
if sentence.find('are'):
    print("the sentence contains 'are'")
else:
    print("the sentence not contain 'are'")

the sentence contains 'are'

In [29]:
#10. Replace a word in a string with another word.

str = "My name is sanjay"

x = str.replace("sanjay", 'King')
print(x)

My name is King

In [31]:
#11. Count the occurrences of a word in a string.
str = "My name is sanjay and my hometown is bangalore"

x = str.count('is')
print(x)

2

In [42]:
#12. Find the first occurrence of a word in a string.
str = "My name is sanjay and my hometown is bangalore"

str.index("My name")

0

In [19]:
#13. Find the last occurrence of a word in a string.
str1 = "Welcome to tutorialspoint"


index = str1.rindex('t')
print("The last index of t in the given string is",index)

The last index of t in the given string is 24

In [20]:
#14. Split a string into a list of words.
str="Sanjay Nagaraj"
str.split()

['Sanjay', 'Nagaraj']

In [31]:
#15. Join a list of words into a string.
words = "My, name , is ,sanjay"
"text= join_words_into_strings(words)"
print("joined string:", text)

joined string: My name is sanjay

In [38]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
underscore_separated = text.replace(" ", "_")
print(underscore_separated)

This_is_an_example_sentence.

In [42]:
#17. Check if a string starts with a specific word or phrase.
text = "Hello, world!"
prefix = "Hello"
is_start = text.startswith(prefix)
print(is_start)

True

In [46]:
#18. Check if a string ends with a specific word or phrase.
text = "Hello, world!"
prefix = "Hello"
is_stop = text.endswith(prefix)
print(is_start)

True

In [50]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
str="hello world!"

str.title()

'Hello World!'

In [21]:
#20.Find the longest word in a string.
text = " My name is sanjay"

word = None
max_length=0
for s in text:
    if len(s) > max_length:
        max_length=len(s)
        word = s
print(word)

In [ ]:
#22. Reverse the order of words in a string.

text = "This", "is", "a", "sentance"

text[::-1]

('sentance', 'a', 'is', 'This')

In [14]:
#23. Check if a string is alphanumeric.
str = "Sanjaykn123"

str.isalnum()

False

In [16]:
#24. Extract all digits from a string.
test_string = 'PWskills2'
   
print("The original string : " + test_string)
 
res = ''.join(filter(lambda i: i.isdigit(), test_string))
     
print("The digits string is : " + res)

The original string : PWskills2
The digits string is : 2

In [21]:
#25. Extract all alphabets from a string.
stringA = "Qwer34^&t%y"
print("Given string : ", stringA)
res = ""
for i in stringA:
    if i.isalpha():
        res = "".join([res,i])
    print("Result: ", res)

Given string :  Qwer34^&t%y
Result:  Q
Result:  Qw
Result:  Qwe
Result:  Qwer
Result:  Qwer
Result:  Qwer
Result:  Qwer
Result:  Qwer
Result:  Qwert
Result:  Qwert
Result:  Qwerty

In [25]:
#26. Count the number of uppercase letters in a string.
text= "Banglore is very BEUTIFUL"
u=0
for i in text:
    if i.isupper():
        u=u+1
print("number of uppercase letters is:", u)

number of uppercase letters is: 9

In [27]:
#27. Count the number of lowercase letters in a string.
text= "Banglore is very BEUTIFUL"
l=0
for i in text:
    if i.islower():
        l=l+1
print("number of lowercase letters is:", l)

number of lowercase letters is: 13

In [28]:
#28. Swap the case of each character in a string.
text = "PWSkills"

text.swapcase()

'pwsKILLS'

In [30]:
#29. Remove a specific word from a string.
text = " My name is sanjay"

text.replace("sanjay", "Rahul")

' My name is Rahul'

In [31]:
#30. Check if a string is a valid email address.
import re

def solve(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = "sanjaykn1212@gmail.com"
print(solve(s))

True

In [44]:
#31. Extract the username from an email address string.
test_str = 'sanjaykn1212@gmail.com'
 
print("The original string is : " + (test_str))
print("The username is:",test_str.split("@")[0])

The original string is : sanjaykn1212@gmail.com
The username is: sanjaykn1212

In [36]:
#32. Extract the domain name from an email address string.
test_str = 'sanjaykn1212@gmail.com'
 
print("The original string is : " + (test_str))
  
res = test_str[test_str.index('@') + 1 : ]
  
print("The extracted domain name : " + res)

The original string is : sanjaykn1212@gmail.com
The extracted domain name : gmail.com

In [48]:
#33. Replace multiple spaces in a string with a single space.
str = "  My name is sanjay   "

str.strip(" ")

'My name is sanjay'

In [50]:
#34. Check if a string is a valid URL.

import re
 
def Find(string):
    regex = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))"
    url = re.findall(regex, string)
    return [x[0] for x in url]

string = 'https://www.youtube.com/'
print("Urls: ", Find(string))

Urls:  ['https://www.youtube.com/']

In [55]:
#35. Extract the protocol (http or https) from a URL string.
string = 'https://www.youtube.com/'

string.index('https')

0

In [60]:
#36. Find the frequency of each character in a string.
test_str = "PWSkills"

all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
print("Count of all characters in PWskills is : "
      , all_freq)

Count of all characters in PWskills is :  {'P': 1, 'W': 1, 'S': 1, 'k': 1, 'i': 1, 'l': 2, 's': 1}

In [64]:
#37. Remove all punctuation from a string.
def remove_punctuation(input_str):
    input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: None

In [2]:
#38. Check if a string contains only digits
string1 = "12345"
string2 = "Hello123"

string2.isdigit()

False

In [3]:
#39. Check if a string contains only alphabets.
str = "Sanjay K N"

str.isalpha()

False

In [11]:
#40. Convert a string to a list of characters.

str = 'Hello World!'

chars = list(str)
print(type(chars))
print(chars)

<class 'list'>
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [13]:
#41. Check if two strings are anagrams.
n='sanjay'
m='yajnas'

print(sorted(n)==sorted(m))

True

In [18]:
#42. Encode a string using a Caesar cipher.
def encrypt(text,s):
    result = ""

    for i in range(len(text)):
        char = text[i]

        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
 
    return result
text = "ATTACKATONCE"
s = 4
print ("Text  : " , text)
print ("Shift : " , s)
print ("Cipher: " ,encrypt(text,s))

Text  :  ATTACKATONCE
Shift :  4
Cipher:  EXXEGOEXSRGI

In [1]:
#43. Decode a Caesar cipher encoded string.
def decrypt():

    encrypted_message = input("Enter the message i.e to be decrypted: ").strip()
    
    letters="abcdefghijklmnopqrstuvwxyz"

    k = int(input("Enter the key to decrypt: "))
    decrypted_message = ""

    for ch in encrypted_message:

        if ch in letters:
            position = letters.find(ch)
            new_pos = (position - k) % 26
            new_char = letters[new_pos]
            decrypted_message += new_char
        else:
            decrypted_message += ch
    print("Your decrypted message is:\n")
    print(decrypted_message)

decrypt()

Enter the message i.e to be decrypted:  EXXEGOEXSRGI
Enter the key to decrypt:  3

Your decrypted message is:

EXXEGOEXSRGI

In [2]:
#44. Find the most frequent word in a
from collections import defaultdict

test_list = ["gfg is best for geeks", "geeks love gfg", "gfg is best"]

print("The original list is : " + str(test_list))
 
temp = defaultdict(int)

for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
 
# getting max frequency
res = max(temp, key=temp.get)

print("Word with maximum frequency : " + str(res))

The original list is : ['gfg is best for geeks', 'geeks love gfg', 'gfg is best']
Word with maximum frequency : gfg

In [4]:
#45. Find all unique words in a string.
def printWords(l):

    for i in l:
        print(i)

str = "pw for skills"

s = set(str.split(" "))
printWords(s)

skills
for
pw

In [5]:
#46. Count the number of syllables in a string.
def count(word):
    new_word = word
    count_syllables = new_word.split('-')
    return len(count_syllables)
print(count("ho-tel"))

2

In [7]:
#47. Check if a string contains any special characters.
import re

def run(string):

    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
    
    if(regex.search(string) == None):
        print("String is accepted")
         
    else:
        print("String is not accepted.")
     
 
# Driver Code
if __name__ == '__main__' :

    string = "PWSkills@2"
    run(string)

String is not accepted.

In [8]:
#48. Remove the nth word from a string.
def RemoveIthWord(list, word, N):
	count = 0

	for i in range(0, len(list)):
		if (list[i] == word):
			count = count + 1

			if(count == N):
				del(list[i])
				return True

	return False
list = ['PW', 'Skills', 'training']
word = 'Skills'
N = 2

flag = RemoveIthWord(list, word, N)

if (flag == True):
	print("Updated list is: ", list)
else:
	print("Item not Updated")

Item not Updated

In [9]:
#49. Insert a word at the nth position in a string.
test_string = 'PWSlills'
add_string = "for"

print("The original string : " + test_string)

print("The add string : " + add_string)

N = 5
res = test_string[ : N] + add_string + test_string[N : ]

print("The string after performing addition : " + res)

The original string : PWSlills
The add string : for
The string after performing addition : PWSliforlls

In [10]:
#50. Convert a CSV string to a list of lists.

import pandas as pd 

dict = { 
	'series': ['Friends', 'Money Heist', 'Marvel'], 
	'episodes': [200, 50, 45], 
	'actors': [' David Crane', 'Alvaro', 'Stan Lee'] 
} 

df = pd.DataFrame(dict) 
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

In [22]:
#List Based Practice Problem :

In [24]:
#1. Create a list with integers from 1 to 10.
l1 = [1,2,3,4, 'sanju', True , 53.43]
print(l1)

[1, 2, 3, 4, 'sanju', True, 53.43]

In [31]:
#2. Find the length of a list without using the `len()` function.
string = [1,2,3,4, 'sanju', True , 53.43]

count = 0

for i in string:
 
    count+=1
print(count)

7

In [30]:
#3. Append an element to the end of a list.
l1 = [1,2,3,4, 'sanju', True , 53.43]
l1.count(int)

0

In [34]:
#3. Append an element to the end of a list.
my_list =[1,2,3,4, 'sanju', True , 53.43]
my_list.append('LTTS')
print(my_list)

[1, 2, 3, 4, 'sanju', True, 53.43, 'LTTS']

In [35]:
#4. Insert an element at a specific index in a list.
my_list =[1,2,3,4, 'sanju', True , 53.43]
my_list.insert(4, 'LTTS')
print(my_list)

[1, 2, 3, 4, 'LTTS', 'sanju', True, 53.43]

In [38]:
#5. Remove an element from a list by its value.
my_list =[1,2,3,4, 'sanju', True , 53.43]
my_list.remove(1)
print(my_list)

[2, 3, 4, 'sanju', True, 53.43]

In [41]:
#6. Remove an element from a list by its index.
my_list =[1,2,3,4, 'sanju', True , 53.43]
my_list.pop(1)
print(my_list)

[1, 3, 4, 'sanju', True, 53.43]

In [42]:
#7. Check if an element exists in a list.
my_list =[1,2,3,4, 'sanju', True , 53.43]

i = 3
if i in my_list:
    print('exists')
else:
    print('Not exists')

exists

In [47]:
#8. Find the index of the first occurrence of an element in a list.
list2 = ['cat', 'bat', 'mat', 'cat', 'pet'] 
 
print(list2.index('bat'))

1

In [48]:
#9. Count the occurrences of an element in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
count = my_list.count(5)  
print(count)

1

In [49]:
#10. Reverse the order of elements in a list.
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
count = my_list[::-1] 
print(count)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
#11. Sort a list in ascending order.
numbers = [1, 3, 4, 2] 

numbers.sort() 
print(numbers)

[1, 2, 3, 4]

In [52]:
#12. Sort a list in descending order.
numbers = [1, 3, 4, 2] 

numbers.sort(reverse=True) 
print(numbers)

[4, 3, 2, 1]

In [55]:
#13. Create a list of even numbers from 1 to 20.

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,23,14,15,16,17,18,19,20]
for num in list1:

	if num % 2 == 0:
		print(num)

2
4
6
8
10
12
14
16
18
20

In [58]:
#14. Create a list of odd numbers from 1 to 20.
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,23,14,15,16,17,18,19,20]
for num in list1:

	if num % 2 != 0:
		print(num)

1
3
5
7
9
11
23
15
17
19

In [60]:
#15. Find the sum of all elements in a list.
numbers = [1,2,3,4,5,1,4,5]

Sum = sum(numbers)
print(Sum)

25

In [61]:
#16. Find the maximum value in a list.
numbers = [1,2,3,4,5,1,4,5]

Sum = max(numbers)
print(Sum)

5

In [62]:
#17. Find the minimum value in a list.
numbers = [1,2,3,4,5,1,4,5]

Sum = min(numbers)
print(Sum)

1

In [1]:
#18. Create a list of squares of numbers from 1 to 10.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#19. Create a list of random numbers.
import random
num = random.random()
print(num)

0.5337022085848728

In [3]:
#20. Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [4]:
#21. Find the common elements between two lists.
def common_member(a, b):
	result = [i for i in a if i in b]
	return result

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

In [5]:
#22. Find the difference between two lists.
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []
for element in li1:
	if element not in li2:
		temp3.append(element)

print(temp3)

[10, 15, 20, 30]

In [6]:
#23. Merge two lists.

test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]

test_list3 = test_list3 + test_list4

print ("Concatenated list using + : "
				+ str(test_list3))

Concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [11]:
#24. Multiply all elements in a list by 2.
my_list = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [15]:
#25. Filter out all even numbers from a list
lis = [1, 2, 3, 4, 5]
out = []

for num in lis:
	if num % 2 == 0:
		out.append(num)
print(out)

[2, 4]

In [16]:
#26. Convert a list of strings to a list of integers.
lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [18]:
#27. Convert a list of integers to a list of strings.
list_string = [1, 12, 15, 21, 131]
output = [str(x) for x in list_string]
print(output)

['1', '12', '15', '21', '131']

In [19]:
#28. Flatten a nested list.
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
#29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    fib_numbers = [0, 1]
    while len(fib_numbers) < n:
        fib_numbers.append(fib_numbers[-1] + fib_numbers[-2])
    return fib_numbers[:n]
fibonacci_numbers = fibonacci(10)

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [30]:
#30. Check if a list is sorted.
test_list = [1, 4, 5, 8, 10]

print ("Original list : " + str(test_list))

flag = 0
i = 1
while i < len(test_list):
	if(test_list[i] < test_list[i - 1]):
		flag = 1
	i += 1
if (not flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [38]:
#31. Rotate a list to the left by `n` positions.
test_list = [1, 4, 6, 7, 2]
print ("Original list : " + str(test_list))

test_list = test_list[3:] + test_list[:3]

print ("List after left rotate by 3 : " + str(test_list))

test_list = test_list[-3:] + test_list[:-3]

print ("List after right rotate by 3(back to original) : "
										+ str(test_list))

Original list : [1, 4, 6, 7, 2]
List after left rotate by 3 : [7, 2, 1, 4, 6]
List after right rotate by 3(back to original) : [1, 4, 6, 7, 2]

In [37]:
#32. Rotate a list to the right by `n` positions.
# Python program to right rotate 
# a list by n using list slicing
n = 3

list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)] 
				+ list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

In [39]:
#33. Create a list of prime numbers up to 50.
for num in range(1, 50):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [42]:
#34. Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5, 
		6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
	x = i 
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [43]:
#35. Find the second largest number in a list.
lst = [10, 20, 4, 45, 99] 
m=max(lst)
x=[a for i,a in enumerate(lst) if a<m]
print(max(x))

45

In [45]:
#36. Replace every element in a list with its square.
data=[1,3,4,5,6,7]

result = [i*i for i in data]
print(result)

[1, 9, 16, 25, 36, 49]

In [47]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
def list_to_dict_with_index(lst):
	dict_with_index = {index: value for index, value in enumerate(lst)}
	return dict_with_index

if __name__ == "__main__":
	sample_list = ['a', 'b', 'c', 'd', 'e']
	result_dict = list_to_dict_with_index(sample_list)
	print(result_dict)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [48]:
#38. Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5]

shuffled_list = sorted(my_list, key=lambda x: random.random())

print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [1, 2, 4, 5, 3]

In [49]:
#39. Create a list of the first 10 factorial numbers.
input_set = {1, 2, 3, 4, 5}
fact = 1
for item in input_set:
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", item, "is", fact)

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560

In [50]:
#40. Check if two lists have at least one element in common.
# Python code to check if two lists
# have any element in common

def find_common_elements(list1, list2):

	if not list1 or not list2:
		return False
	if list1[0] in list2:
		return True
	return find_common_elements(list1[1:], list2)

list1 = [1, 2, 3, 4, 55]
list2 = [2, 3, 90, 22]
if find_common_elements(list1, list2):
	print("True")
else:
	print("False")

True

In [62]:
#41. Remove all elements from a list.
list = [6, 0, 4, 1]
print('list before clear:', list)

# Clearing list
list.clear()
print('list after clear:', list)

list before clear: [6, 0, 4, 1]
list after clear: []

In [1]:
#42. Replace negative numbers in a list with 0.
given_list = [1, 2, 3, 4, -1, -4, 5, -6]

print(f'List before changes: {given_list}')

for i in range(len(given_list)):
    if given_list[i] < 0:
        given_list[i] = 0

print(f'List after changes: {given_list}')

List before changes: [1, 2, 3, 4, -1, -4, 5, -6]
List after changes: [1, 2, 3, 4, 0, 0, 5, 0]

In [3]:
#43. Convert a string into a list of words.
str1 = "Hello Everyone Welcome to PWskills"

res = str1.split()
print(res)

['Hello', 'Everyone', 'Welcome', 'to', 'PWskills']

In [10]:
#44. Convert a list of words into a string.
list1 = ['Hello', 'Everyone', 'Welcome', 'to', 'PWskills']


res = " ".join(list1)
print(res)

Hello Everyone Welcome to PWskills

In [16]:
#45. Create a list of the first `n` powers of 2.
def generate_powers_of_2(n):
    powers_of_2 = [2 ** i for i in range(n)]
    return powers_of_2

n = 10
powers_list = generate_powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [23]:
#46. Find the longest string in a list of strings.
x = ['apple', 'banana', 'fig', 'mango']
longest = max(x, key=len)
print(longest)

banana

In [22]:
#47. Find the shortest string in a list of strings.
x = ['apple', 'banana', 'fig', 'mango']
shortest = min(x, key=len)
print(shortest)

fig

In [24]:
#48. Create a list of the first `n` triangular numbers.

def triangular_series(n):

	for i in range(1, n + 1):
		print( i*(i+1)//2,end=' ')

n = 5
triangular_series(n)

1 3 6 10 15

In [25]:
#49. Check if a list contains another list as a subsequence.
test_list = [9, 4, 5, 8, 10]
sub_list = [10, 5]

print("Original list : " + str(test_list))
print("Original sub list : " + str(sub_list))

flag = 0
if(set(sub_list).issubset(set(test_list))):
	flag = 1

if (flag):
	print("Yes, list is subset of other.")
else:
	print("No, list is not subset of other.")

Original list : [9, 4, 5, 8, 10]
Original sub list : [10, 5]
Yes, list is subset of other.

In [28]:
#50. Swap two elements in a list by their indices.
fruits = ["oranges", "grapes", "bananas"]

print("List of fruits before swap:")
print(fruits)

fruits[0], fruits[2] = fruits[2], fruits[0]

print("List of fruits after swap:")
print(fruits)

List of fruits before swap:
['oranges', 'grapes', 'bananas']
List of fruits after swap:
['bananas', 'grapes', 'oranges']

In [29]:
#Tuple Based Practice Problem :

In [30]:
#1. Create a tuple with integers from 1 to 5.
t = (1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

In [31]:
type(t)

tuple

In [32]:
#2. Access the third element of a tuple.
t = (1,2,3,4,5)
t[2]

3

In [35]:
#3. Find the length of a tuple without using the `len()` function.
def find_tuple_length(tuple_var):
    count = 0
    for _ in tuple_var:
        count += 1
    return count

my_tuple = (1, 2, 3, 4, 5)
length_of_tuple = find_tuple_length(my_tuple)
print(length_of_tuple)

5

In [37]:
#4. Count the occurrences of an element in a tuple.
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

count = vowels.count('i')

print(count)

2

In [38]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = ( 4, 2, 5, 6, 7, 5)
print(my_tuple.index(5))

2

In [39]:
#6. Check if an element exists in a tuple.

test_tup = (10, 4, 5, 6, 8)

print("The original tuple : " + str(test_tup))
N = 6

res = False
for ele in test_tup:
	if N == ele:
		res = True
		break

print("Does tuple contain required value ? : " + str(res))

The original tuple : (10, 4, 5, 6, 8)
Does tuple contain required value ? : True

In [40]:
#7. Convert a tuple to a list.
t = (2,4,56,7,54,'sanju', 65+6j, False)
list(t)

[2, 4, 56, 7, 54, 'sanju', (65+6j), False]

In [41]:
#8. Convert a list to a tuple.
l=[2, 4, 56, 7, 54, 'sanju', (65+6j), False]
tuple(l)

(2, 4, 56, 7, 54, 'sanju', (65+6j), False)

In [42]:
#9. Unpack the elements of a tuple into variables.
a = ("Malnad", 5000, "Engineering") 

(college, student, type_ofcollege) = a 

print(college)

print(student)

print(type_ofcollege)

Malnad
5000
Engineering

In [43]:
#10. Create a tuple of even numbers from 1 to 10.
def evens(nums_list):
   for num in nums_list:
         if num % 2 == 0:
            print(num, end=' ')

evens([5, 20, 21, 58, 3])

20 58

In [44]:
#11. Create a tuple of odd numbers from 1 to 10.
def odds(nums_list):
   for num in nums_list:
         if num % 2 != 0:
            print(num, end=' ')

odds([5, 20, 21, 58, 3])

5 21 3

In [47]:
#12. Concatenate two tuples.
t1 = (2,4,56,7,54,'sanju', 65+6j, False)
t2 = (2,4,5,'sanjay',.87,0)

t=t1+t2
print(t)

(2, 4, 56, 7, 54, 'sanju', (65+6j), False, 2, 4, 5, 'sanjay', 0.87, 0)

In [48]:
#13. Repeat a tuple three times.
t1 = (2,4,56,7,54,'sanju', 65+6j, False)
print(t1*3)

(2, 4, 56, 7, 54, 'sanju', (65+6j), False, 2, 4, 56, 7, 54, 'sanju', (65+6j), False, 2, 4, 56, 7, 54, 'sanju', (65+6j), False)

In [50]:
#14. Check if a tuple is empty.
A = (1, 2, 3)
B = ()
if A == ():
   print("A is empty")
else:
   print("A is not empty")
if B == ():
   print("B is empty")
else:
   print("B is not empty")

A is not empty
B is empty

In [52]:
#15. Create a nested tuple.

employee = ((10, "Itika", 13000), (24, "Harry", 15294), (15, "Naill", 20001), (40, "Peter", 16395))  
print(employee)

((10, 'Itika', 13000), (24, 'Harry', 15294), (15, 'Naill', 20001), (40, 'Peter', 16395))

In [53]:
#16. Access the first element of a nested tuple.
t1 = (2,4,56,7,54,'sanju', 65+6j, False)
print(t[0])

2

In [57]:
#17. Create a tuple with a single element.
thistuple = ("apple",)
print(thistuple)

('apple',)

In [58]:
#18. Compare two tuples.
tuple1 = (1,2,3)
tuple2 = (1,2,4)
 
print (tuple1 == tuple2) 
 
print (tuple1 < tuple2)  
 
print (tuple1 > tuple2)

False
True
False

In [69]:
#19. Delete a tuple.
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

In [67]:
#20. Slice a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:5]
print(sliced_tuple)

(3, 4, 5)

In [1]:
#21. Find the maximum value in a tuple.
Tuple = ( 1, 3, 4, 2, 5, 6 ) 

res = max(Tuple) 
print('Maximum of Tuple is', res)

Maximum of Tuple is 6

In [2]:
#22. Find the minimum value in a tuple.
Tuple = ( 1, 3, 4, 2, 5, 6 ) 

res = min(Tuple) 
print('Minimum of Tuple is', res)

Minimum of Tuple is 1

In [3]:
#23. Convert a string to a tuple of characters.
test_str = "1, -5, 4, 6, 7"
res = tuple(map(int, test_str.split(', ')))

print("Tuple after getting conversion from String : " + str(res))

Tuple after getting conversion from String : (1, -5, 4, 6, 7)

In [4]:
#24. Convert a tuple of characters to a string.
def convertTuple(tup):
	str = ''
	for item in tup:
		str = str + item
	return str

tuple = ('p', 'w', 's', 'k', 'i','l','l','s')
str = convertTuple(tuple)
print(str)

pwskills

In [5]:
#25. Create a tuple from multiple data types.
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [8]:
#26. Check if two tuples are identical.
my_list_1 = [(11, 14), (54, 58)]
my_list_2 = [(98, 0), (10, 13)]

print("The first list of tuple is : ")
print(my_list_1)
print("The second list of tuple is : ")
print(my_list_2)

my_result = my_list_1 == my_list_2

print("Are the list of tuples identical?")
print(my_result)

The first list of tuple is :
[(11, 14), (54, 58)]
The second list of tuple is :
[(98, 0), (10, 13)]
Are the list of tuples identical?
False

In [13]:
#27. Sort the elements of a tuple.

test_list = [(4, 5, 1), (6, 1, 5), (7, 4, 2), (6, 2, 4)]

print("The original list is : " , test_list)

N = 1

test_list.sort(key = lambda x: x[N])

print("List after sorting tuple by Nth index sort : " ,test_list)

The original list is :  [(4, 5, 1), (6, 1, 5), (7, 4, 2), (6, 2, 4)]
List after sorting tuple by Nth index sort :  [(6, 1, 5), (6, 2, 4), (7, 4, 2), (4, 5, 1)]

In [5]:
#28. Convert a tuple of integers to a tuple of strings.
def convert_to_strings(tuple_of_integers):
    return tuple(str(x) for x in tuple_of_integers)

tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = convert_to_strings(tuple_of_integers)
print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [29]:
##29. Convert a tuple of strings to a tuple of integers.
test_str = "(7, 8, 9)" 

print("The original string is : " + test_str)

res = (int(num) for num in test_str.replace('(', '').replace(')', '').replace('...', '').split(', '))

print("The tuple after conversion is : " ,res)

The original string is : (7, 8, 9)
The tuple after conversion is :  <generator object <genexpr> at 0x7fed280822d0>

In [21]:
#30. Merge two tuples.
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

res = sum((test_tup1, test_tup2), ())

print("The tuple after concatenation is : " , res)

The tuple after concatenation is :  (1, 3, 5, 4, 6)

In [25]:
#31. Flatten a nested tuple.
test_tuple = ([5, 6], [6, 7, 8, 9], [3])

print("The original tuple : " , test_tuple)

res =(sum(test_tuple, []))

print("The flattened tuple : " ,res)

The original tuple :  ([5, 6], [6, 7, 8, 9], [3])
The flattened tuple :  [5, 6, 6, 7, 8, 9, 3]

In [31]:
#32. Create a tuple of the first 5 prime numbers.
if __name__ == '__main__':

	a, b, i, j, flag = 0, 0, 0, 0, 0

	print("Enter lower bound of the interval:", 
									end = "")
	a = int(input())
	print(a)

	print("Enter upper bound of the interval:", 
									end = "")
	b = int(input())
	print(b)

	print("Prime numbers between", a, "and", 
						b, "are:", end = "")

	for i in range(a, b + 1):

		if (i == 1):
			continue

		flag = 1
		
		for j in range(2, i // 2 + 1):
			if (i % j == 0):
				flag = 0
				break

		if (flag == 1):
			print(i, end = " ")

Enter lower bound of the interval:

 1

1
Enter upper bound of the interval:

 10

10
Prime numbers between 1 and 10 are:2 3 5 7

In [35]:
#33. Check if a tuple is a palindrome.
test_tuple = (1, 4, 5, 4, 1)

reverse = test_tuple[::-1]

res = test_tuple == reverse

print("Is tuple Palindrome : " , res)

Is tuple Palindrome :  True

In [36]:
#34. Create a tuple of squares of numbers from 1 to 5.
tup = ()
for i in range(1,5):
    tup = tup + (i**2,)
print("The square of integers from 1 to 50 is:" ,tup)

The square of integers from 1 to 50 is: (1, 4, 9, 16)

In [37]:
#35. Filter out all even numbers from a tuple.
tuple_list = [(61, 14, 12, 18), (52, 61, 73, 69), (80, 111, 211),(2,4)]
result = [tup for tup in tuple_list if all(ele % 2 == 0 for ele in tup)]
print("After Filteration of all the tuple:",result)

After Filteration of all the tuple: [(2, 4)]

In [42]:
#36. Multiply all elements in a tuple by 2
my_tuple=(1,2,3,4,5)

new_tuple = (x*2 for x in my_tuple)
print(new_tuple)

<generator object <genexpr> at 0x7fed28081e70>

In [45]:
#37. Create a tuple of random numbers.
import random
N = 5
R = 10

res = [divmod(ele, R + 1) for ele in random.sample(range((R + 1) * (R + 1)), N)]
 
print("The N random tuples : " ,res)

The N random tuples :  [(8, 7), (1, 5), (1, 1), (3, 1), (1, 0)]

In [46]:
#38. Check if a tuple is sorted.
test_list = [1, 4, 5, 8, 10]

flag = 0
i = 1
while i < len(test_list):
	if(test_list[i] < test_list[i - 1]):
		flag = 1
	i += 1

if (not flag) :
	print ("Yes, List is sorted.")
else :
	print ("No, List is not sorted.")

Yes, List is sorted.

In [52]:
#39. Rotate a tuple to the left by `n` position
def rotate_tuple_left(tuple_to_rotate, n):

    original_tuple = (1, 2, 3, 4, 5)
    rotated_tuple = rotate_tuple_left(original_tuple, 2)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [4]:
#40. Rotate a tuple to the right by `n` positions.
def rotate_tuple(tuple_to_rotate, n):
    n = n % len(tuple_to_rotate)
    return tuple_to_rotate[-n:] + tuple_to_rotate[:-n]


original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_tuple(original_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [12]:
#41. Create a tuple of the first 5 Fibonacci numbers.
lst = [0,1]
a = 0
b = 1
c = 0

for i in range(3):
    c = a + b
    a = b
    b = c
    lst.append(c)

tup = tuple(lst)

print("5 terms of Fibonacci series are:", tup)

5 terms of Fibonacci series are: (0, 1, 1, 2, 3)

In [23]:
#42. Create a tuple from user input.
t = list(tuple(map(int,input().split())) for r in range(int(input('enter no of rows : '))))  
print(t)

enter no of rows :  3
 3 3
 2 3
 1 5

[(3, 3), (2, 3), (1, 5)]

In [24]:
#43. Swap two elements in a tuple.
test_list = [(3, 4), (6, 5), (7, 8)]

print("The original list is : " + str(test_list))

res = [(sub[1], sub[0]) for sub in test_list]

print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [25]:
#44. Reverse the elements of a tuple.
def Reverse(tuples):
	new_tup = tuples[::-1]
	return new_tup

tuples = ('s','l','l','i','k','s','w','p')
print(Reverse(tuples))

('p', 'w', 's', 'k', 'i', 'l', 'l', 's')

In [28]:
#45. Create a tuple of the first `n` powers of 2.
from math import log2
def numberOfWays(n, k):

	if (n == 0):
		return 1
	if (k == 0):
		return 1
	if (n >= pow(2, k)):
		curr_val = pow(2, k)
		return numberOfWays(n - curr_val, k) + numberOfWays(n, k - 1)
	else:
		return numberOfWays(n, k - 1)
if __name__ == '__main__':
	n = 4
	k = log2(n)

	print(numberOfWays(n, k))

4

In [30]:
#46. Find the longest string in a tuple of strings.
def longest_string_in_tuple(tuple_of_strings):
    longest = ""
    for string in tuple_of_strings:
        if len(string) > len(longest):
            longest = string
    return longest

tuple_of_strings = ("apple", "banana", "cherry", "date", "fig")
longest_string = longest_string_in_tuple(tuple_of_strings)

print("Longest string:", longest_string)

Longest string: banana

In [31]:
#47. Find the shortest string in a tuple of strings.
def shortest_string_in_tuple(tuple_of_strings):
    shortest = float('inf') 
    shortest_string = ""
    for string in tuple_of_strings:
        if len(string) < shortest:
            shortest = len(string)
            shortest_string = string
    return shortest_string

tuple_of_strings = ("apple", "banana", "cherry", "date", "fig")
shortest_string = shortest_string_in_tuple(tuple_of_strings)

print("Shortest string:", shortest_string)

Shortest string: fig

In [32]:
#48. Create a tuple of the first `n` triangular numbers.
def triangular_number(n):
    return n * (n + 1) // 2

def first_n_triangular_numbers(n):
    return tuple(triangular_number(i) for i in range(1, n+1))

n = 5
triangular_numbers = first_n_triangular_numbers(n)
print(triangular_numbers)

(1, 3, 6, 10, 15)

In [33]:
#49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence(sub, main):
    n = len(sub)
    m = len(main)
    i = 0
    j = 0

    while i < n and j < m:
        if sub[i] == main[j]:
            i += 1
        j += 1

    return i == n

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (2, 4)

result = is_subsequence(tuple2, tuple1)

if result:
    print(f"{tuple2} is a subsequence of {tuple1}")
else:
    print(f"{tuple2} is not a subsequence of {tuple1}")

(2, 4) is a subsequence of (1, 2, 3, 4, 5)

In [34]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10 
alternating_tuple = []

for i in range(n):
    alternating_tuple.append(i % 2)

alternating_tuple = tuple(alternating_tuple)

print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [35]:
#Set Based Practice Problem :

In [36]:
#1. Create a set with integers from 1 to 5.
s = {1,2,3,4,5}

print(s)

{1, 2, 3, 4, 5}

In [40]:
#2. Add an element to a set.
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [44]:
#3. Remove an element from a set.
s = {1,2,3,4,5}
s.remove(3)
print(s)

{1, 2, 4, 5}

In [45]:
#4. Check if an element exists in a set.
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [46]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}
length = 0

for _ in my_set:
    length += 1

print("Length of the set:", length)

Length of the set: 9

In [47]:
#6. Clear all elements from a set.
my_set = {1, 2, 3, 4, 5}

my_set = set()

print("Cleared set:", my_set)

Cleared set: set()

In [50]:
#7. Create a set of even numbers from 1 to 10.
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [51]:
#8. Create a set of odd numbers from 1 to 10.
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [52]:
#9. Find the union of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
#10. Find the intersection of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set()

for element in set1:
    if element in set2:
        intersection_set.add(element)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [54]:
#11. Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set()

for element in set1:
    if element not in set2:
        difference_set.add(element)

print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2, 3}

In [55]:
#12. Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

is_subset = True

for element in set1:
    if element not in set2:
        is_subset = False
        break

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [56]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 3}

is_superset = True

for element in set2:
    if element not in set1:
        is_superset = False
        break

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [57]:
#14. Create a set from a list.
l1 = [1,2,34,4,55,6]

set(l1)

{1, 2, 4, 6, 34, 55}

In [58]:
#15. Convert a set to a list.

s1 = {1, 2, 4, 6, 34, 55}

list(s1)

[1, 2, 34, 4, 6, 55]

In [59]:
#16. Remove a random element from a set.
my_set = {1, 2, 3, 4, 5}

removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

In [67]:
#17. Pop an element from a set.
s1 = {1, 2, 4, 6, 34, 55}
s1.pop()
print(s1)

{2, 34, 4, 6, 55}

In [68]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

have_no_common_elements = True

for element in set1:
    if element in set2:
        have_no_common_elements = False
        break

if have_no_common_elements:
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have elements in common")

set1 and set2 have no elements in common

In [69]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set()

for element in set1:
    if element not in set2:
        symmetric_difference.add(element)

for element in set2:
    if element not in set1:
        symmetric_difference.add(element)

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [70]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

for element in set2:
    set1.add(element)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [71]:
#21. Create a set of the first 5 prime numbers.
prime_set = set()
num = 2

while len(prime_set) < 5:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [72]:
#22. Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are identical

In [73]:
#23. Create a frozen set.
my_set = frozenset([1, 2, 3, 4, 5])
print(my_set)

frozenset({1, 2, 3, 4, 5})

In [74]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint")
else:
    print("The sets have elements in common")

The sets are disjoint

In [77]:
#25. Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

In [78]:
#26. Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

even_numbers_set = {x for x in original_set if x % 2 == 0}

print("Set after filtering even numbers:", even_numbers_set)

Set after filtering even numbers: {2, 4, 6, 8, 10}

In [79]:
#27. Multiply all elements in a set by 2.
original_set = {1, 2, 3, 4, 5}

multiplied_set = {x * 2 for x in original_set}

print("Original set:", original_set)
print("Set after multiplying by 2:", multiplied_set)

Original set: {1, 2, 3, 4, 5}
Set after multiplying by 2: {2, 4, 6, 8, 10}

In [80]:
#28. Create a set of random numbers.
import random

random_set = set()

for _ in range(10): 
    random_set.add(random.randint(1, 100))  

print("Set of random numbers:", random_set)

Set of random numbers: {96, 4, 68, 40, 41, 11, 45, 88, 57, 95}

In [81]:
#29. Check if a set is empty.
my_set = set()

if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [82]:
#30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4}), frozenset({5, 6})}
print(nested_set)

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

In [83]:
#31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}

my_set.discard(3)

print("Updated set:", my_set)

Updated set: {1, 2, 4, 5}

In [84]:
#32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Equality
if set1 == set2:
    print("set1 is equal to set2")
else:
    print("set1 is not equal to set2")

# Proper Subset
if set1 < set2:
    print("set1 is a proper subset of set2")
else:
    print("set1 is not a proper subset of set2")

# Proper Superset
if set1 > set2:
    print("set1 is a proper superset of set2")
else:
    print("set1 is not a proper superset of set2")

# Subset
if set1 <= set2:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

# Superset
if set1 >= set2:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is not equal to set2
set1 is not a proper subset of set2
set1 is not a proper superset of set2
set1 is not a subset of set2
set1 is not a superset of set2

In [85]:
#33. Create a set from a string.
my_string = "hello"

my_set = set(my_string)

print("Set from string:", my_set)

Set from string: {'h', 'o', 'e', 'l'}

In [86]:
#34. Convert a set of strings to a set of integers.
string_set = {'1', '2', '3', '4', '5'}

integer_set = {int(x) for x in string_set}

print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

In [87]:
#35. Convert a set of integers to a set of strings.
integer_set = {1, 2, 3, 4, 5}

string_set = {str(x) for x in integer_set}

print("Set of strings:", string_set)

Set of strings: {'4', '1', '2', '3', '5'}

In [88]:
#36. Create a set from a tuple.
tup1 = (91,2,34,'sanju')
set(tup1)

{2, 34, 91, 'sanju'}

In [89]:
#37. Convert a set to a tuple
set1 = {2, 34, 91, 'sanju'}
tuple(set1)

(2, 91, 'sanju', 34)

In [90]:
#38. Find the maximum value in a set.
numbers = {5, 8, 2, 10, 1}

max_value = next(iter(numbers))

for num in numbers:
    if num > max_value:
        max_value = num

print(f"The maximum value is: {max_value}")

The maximum value is: 10

In [91]:
#39. Find the minimum value in a set.
numbers = {5, 8, 2, 10, 1}

min_value = next(iter(numbers))

for num in numbers:
    if num < min_value:
        min_value = num

print(f"The minimum value is: {min_value}")

The minimum value is: 1

In [92]:
#40. Create a set from user input.
user_input = input("Enter a list of numbers separated by spaces: ")

numbers_as_strings = user_input.split()

number_set = set(map(int, numbers_as_strings))

print("Set created from user input:", number_set)

Enter a list of numbers separated by spaces:  1

Set created from user input: {1}

In [93]:
#41. Check if the intersection of two sets is empty.
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

is_empty_intersection = set1.isdisjoint(set2)

if is_empty_intersection:
    print("The intersection is empty")
else:
    print("The sets have elements in common")

The intersection is empty

In [94]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = {0, 1}

a, b = 0, 1
for _ in range(3):
    a, b = b, a + b
    fibonacci_set.add(b)

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [95]:
#43. Remove duplicates from a list using sets.
original_list = [1, 2, 3, 2, 1, 4, 5, 4, 6, 7, 8, 7, 9]

list_without_duplicates = list(set(original_list))

print("List without duplicates:", list_without_duplicates)

List without duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements")
else:
    print("The sets do not have the same elements")

The sets have the same elements

In [97]:
#45. Create a set of the first `n` powers of 2.
n = 5

powers_of_2_set = {2**i for i in range(n)}

# Print the resulting set
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [98]:
#46. Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]

common_elements = set(my_list).intersection(my_set)

print("Common elements:", common_elements)

Common elements: {4, 5}

In [99]:
#47. Create a set of the first `n` triangular numbers.
n = 5

triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n+1)}

# Print the resulting set
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [100]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [101]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = 8

# Create a set of alternating 1s and 0s
alternating_set = {i % 2 for i in range(n)}

# Print the resulting set
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 8: {0, 1}

In [102]:
#50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set1 = set1.union(set2, set3)

merged_set2 = set1 | set2 | set3

print("Merged set using union() method:", merged_set1)
print("Merged set using | operator:", merged_set2)

Merged set using union() method: {1, 2, 3, 4, 5, 6, 7}
Merged set using | operator: {1, 2, 3, 4, 5, 6, 7}